@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-background-light: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-highlight: #ffffff;
}

.dark {
  --color-background: #1e1e1e;
  --color-background-light: #3d3d3d;
  --color-text-primary: #f8f9fa;
  --color-text-secondary: #e2e5e8;
  --color-text-highlight: #188168;
}

body {
  background-color: var(--color-background);
  @apply h-[100dvh] box-border flex justify-center;
}

#root{
  scroll-behavior: smooth;
  @apply container h-fit text-white font-mono;
}

section {
  @apply text-text-primary px-24 pt-40;

  &:last-of-type {
    @apply pb-40;
  }
}

.logo-block {
  animation: logo-animation 1s linear infinite;
  @apply h-6 w-3 rounded-xs bg-text-highlight shrink-0;
}

@keyframes logo-animation{
  50%{
    opacity: .4;
    scale: 0.8;
    translate: (10px, 10px);
  }
}


